<ion-header>
  <ion-toolbar>
    <ion-title>Resumen de Gastos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="chart-container">
    <canvas id="myChart"></canvas>
  </div>

  <div class="description">
    <p>{{ description }}</p>
  </div>

  <div class="percentages" *ngIf="categories.length > 0 && percentages.length > 0">
    <div *ngFor="let percentage of percentages; let i = index" class="percentage-bubble">
      <p>{{ categories[i]?.nombre }}: {{ percentage }}%</p>
    </div>
  </div>
</ion-content>
