<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button (click)="volverAtras()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-card-title>CREAR UN PRESUPUESTO</ion-card-title>

      <ion-item>
        <ion-label position="stacked">Nombre del Presupuesto</ion-label>
        <ion-input [(ngModel)]="nuevoPresupuesto.nombre" placeholder="Ej: Presupuesto Mensual"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Fecha de Inicio</ion-label>
        <ion-input
          type="date"
          labelPlacement="floating"
          [(ngModel)]="nuevoPresupuesto.fechaInicio"
          placeholder="dd/mm/aaaa"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Fecha de Corte</ion-label>
        <ion-input
          type="date"
          labelPlacement="floating"
          [(ngModel)]="nuevoPresupuesto.fechaCorte"
          placeholder="dd/mm/aaaa"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Categoría</ion-label>
        <ion-select [(ngModel)]="nuevoPresupuesto.categoria" placeholder="Selecciona una categoría">
          <ion-select-option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.nombre }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>¿Compartir presupuesto?</ion-label>
        <ion-checkbox [(ngModel)]="nuevoPresupuesto.compartir"></ion-checkbox>
      </ion-item>      
      
      <ion-item *ngIf="nuevoPresupuesto.compartir">
        <ion-label position="stacked">Correo del destinatario</ion-label>
        <ion-input [(ngModel)]="nuevoPresupuesto.correoDestino" placeholder="Correo del destinatario"></ion-input>
      </ion-item>
      

    </ion-card-content>
  </ion-card>

  <ion-button expand="block" (click)="crearPresupuesto()">
    CREAR
  </ion-button>
</ion-content>
