<ion-content>
  <div class="date">
    <p>{{ currentDate }}</p>
  </div>

  <ion-header>
    <ion-title>
      ¡Bienvenido/a, {{ userName }}!
    </ion-title>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>RESUMEN</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="summary">
        <div class="summary-item">
          <p>Saldo</p>
          <p>${{ user.saldo || 0 }}</p>
        </div>
        <div class="summary-item">
          <p>Ingreso</p>
          <p>${{ user.ingreso || 0 }}</p>
        </div>
        <div class="summary-item">
          <p>Gastos</p>
          <p>${{ user.gastos || 0 }}</p>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>PRESUPUESTOS</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div *ngIf="presupuestos.length > 0; else noPresupuestos">
        <ion-list>
          <ion-item *ngFor="let presupuesto of presupuestos">
            {{ presupuesto.nombre }} ({{ presupuesto.fechaInicio }} - {{ presupuesto.fechaCorte }})
          </ion-item>
        </ion-list>
      </div>
      <ng-template #noPresupuestos>
        <p>No tienes presupuestos registrados.</p>
      </ng-template>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block">
    CREAR PRESUPUESTO
  </ion-button>
</ion-content>
